body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
/*----------------------------------------------------- Header Style*/
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: -webkit-sticky;
    position:sticky;
    top: 0;
    background-color: white;
}
#botao_formulario{
    cursor: pointer;
}
#logo h1{
    color: #70A52B;
    padding-left: 1rem;
}
#logo h1 span{
    color: black;
}
#menu{
    display: flex;
    list-style-type: none;
}
#menu li a {
    color: black;
    text-decoration: none;
}
#menu li {
    padding: 1rem;
}
#menu li:hover{
   background-color: rgb(168, 167, 167);
}
#butao{
    display: none;
    margin-right: 2rem;
}
/*------------------------------------------------------------- Banner Style*/
#banner{
    display: flex;
    background-image: url(../img/banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;
}
#comprar{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
#comprar button{
    cursor: pointer;
    font-size: 35px;
    border-radius: 20px;
    background-color: #008B5E;
    color: white;
    height: 90px;
    border-color: rgba(255, 255, 255, 0.1);
    transition: .5s;
}
#comprar button:hover{
    background-color: rgba(255, 255, 255, 0.1);
    border-color: #008B5E;
    color:white ;
    margin-top: 60px;
}
/*-------------------------------------------------------------Sobre Style*/
#segundaSessao{
    display: flex;
}
#sobre{
    display: flex;
    justify-content: center;
}
#imagem2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}
#imagem2 img{
    width: 70%;
    height: 70%;
}
#texto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
}
#sobre h2{
    display: flex;
    align-items: center;
}
#sobre-texto{
    padding: 25px;
    display: flex;
    justify-content: center;
    text-align: justify;
    font-size: 20px;
}
/*---------------------------------------------------------------Formulario Style*/
.modal{
    position: fixed;
    padding: 0;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: scale(1,1);
    opacity: 0;
    visibility: hidden;
    background-color: rgba(255, 255, 255, 0.7);
    transition: visibility 0.25s ease-in-out, transform 0.25s ease-in-out, opacity 0.25s ease-in-out;
}
.modal-content{
    padding: 16px 24px;
    border-radius: 0.5rem;
}
#fechar{
    float:right;
    width: 24px;
    cursor: pointer;
    text-align: center;
    line-height: 24px;
    font-size: 40px;
    margin-top: -20px;
}
#fechar:hover{
    background-color: black;
    color: white;
}
.show-modal{
    opacity: 5;
    visibility: visible;
    transform: scale('1.0');
}
#formulario{
    border-radius: 10px;
    height: 100%;
    background-image: url(../img/background_form.jpg);
}
#formulario fieldset{
    border-color: rgba(255, 255, 255, 0.0);
}
#formulario fieldset legend{
    padding-top:10px;
}
#formulario input{
    width: 100%;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.0);
}
#texto{
    width: 100%;
    background-color: rgba(255, 255, 255, 0.0);
}
#Enviar{
    display: flex;
    justify-content: center;
}
#Enviar button{
    background-color: #008B5E;
    color: white;
    border-color: rgba(255, 255, 255, 0.0);
    border-radius: 10px;
    font-size: 35px;
    transition: 0.5s;
}
#Enviar button:hover{
    background-color:white;
    color: black;
    border-color: black;
    cursor: pointer;
}
/*----------------------------------------------------------Contato Style*/
#Contato{
    display: flex;
}
#ContatoTxt{
    width: 50%;
    text-align: center;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#ContatoImg{
    width: 50%;
}
#ContatoImg img{
    height: 100%;
    width: 100%;
}

/*-------------------------------------------------------------Rodape Style*/
footer{
    color: white;
    display: flex;
    background-color: #008B5E;
    justify-content: center;
    height: 100px;
    align-items: center;
}

/*---------------------------------------------- Responsive*/
@media(max-width:900px){
    #menu{
        display: block;
        position: absolute;
        width: 100%;
        top: 70px;
        right: 0px;
        transition: .6s;
        z-index: 1000;
        height: 0;
        visibility: hidden;
        overflow-y: hidden;
        text-align: center;
        background-color: rgba(255, 255, 255, 0.1);
    }
    #nav.active #menu{
       height: calc(100vh - 86px);
       visibility: visible;
       overflow-y: auto;
        
    }
    #menu li a{
        padding: 1rem 0;
        margin: 0 1rem;
        color: whitesmoke;
    }
    #menu li{
        background-color:#135E46;
    }
    #butao{
        display: flex;
        pad: .5rem 1rem;
        font-size: 1rem;
        border: none;
        background: none;
        cursor: pointer;
        gap: 5rem;
    }
    #hamburger{
        border-top: 2px solid;
        width: 20px;
        border-color: black;
    }
    #hamburger::after, #hamburger::before{
        content: '';
        display: block;
        width: 20px;
        height: 2px;
        margin-top: 5px;
        background-color: black;
    }
    #comprar{
        width: 100%;
        justify-content: center;
    }
    #segundaSessao{
        flex-direction: column;
    }
    #sobre-texto{
        font-size: 20px;
        padding: 7px;
    }
    #texto{
        width: 100%;
    }
    #imagem2{
        width: 100%;
    }
    #imagem2 img{
        height: 400px;
    }
    #ContatoTxt{
        width: 100%;
    }
    #ContatoImg{
        display: none;
    }
}

@media(max-width:650px){
    #imagem2 img{
        height: 250px;
    }
    #sobre-texto{
        font-size: 20px;
        padding: 10px;
    }
}
